<!DOCTYPE html>
<html>
<head>
    <title>Välj användare</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="container">
        <h1>Välkommen!</h1>
        <h2>Välj vem som ska träna</h2>

        <div class="card" style="text-align:center;">
            <a class="btn" href="/dashboard/valter">Valter</a>
            <a class="btn" href="/dashboard/lovisa">Lovisa</a>
            <a class="btn" href="/dashboard/david">David</a>
        </div>
    </div>

</body>
</html>
